 body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhBtRvPyhOxYfKQH98Op0np89e8l0JWDkK7g&s );
  background-size: 20%;
  width: 100%;
 		height: 100%;
  margin: 0;
  padding: 0;



   #sky {
  background: linear-gradient(rgb(0, 120, 160), rgb(0, 55, 89), AliceBlue);
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 0;
 }

 #sky-symbol {
  font-size: 150px;
  position: absolute;
  top: 5%;
  left: 10%;
 }

#turtle{
  width: 100px;
  height:;
    position: absolute;
    top: 900px;
    left: 500px;
    z-index: 10;
}

#turtle1{
  width: 100px;
    position: absolute;
    top: 850px;
    left: 410px;
    z-index: 10;
}
#turtle2{
  width: 100px;
    position: absolute;
    top: 750px;
    left: 420px;
    z-index: 10;
}
#ocean{
  width: 1000px;
    position: absolute;
    top: 179px;
    left: 0px;
    z-index: 10;
}








 }
