 body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhBtRvPyhOxYfKQH98Op0np89e8l0JWDkK7g&s );
  background-size: 20%;
  width: 100%;
 		height: 100%;
  margin: 0;
  padding: 0;



   #sky {
  background: linear-gradient(rgb(0, 120, 160), rgb(0, 55, 89), AliceBlue);
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 0;
 }

 #sky-symbol {
  font-size: 150px;
  position: absolute;
  top: 5%;
  left: 10%;
 }

#turtle{
    width: 20%;
  height: 60%;
}








 }
